<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
<div>

  <%= form_for @conn, page_path(@conn, :create), fn f -> %>
    <%= select f, :lang, ~w(en de), selected: @lang %>

    <%= submit "Submit" %>
  <% end %>
</div>
